<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News-classifier</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <!-- here we need to display the logo and the name of the site -->
    <header>
        <div class="logo-part">
            <a href="#" class="heading">
                <!-- logo has to come here -->
                <h1 class="logo_name">News classifier</h1>
            </a>
        </div>

        <div class="options">
            <button class="btn login-btn">Login</button>
            <button class="btn signup-btn">Sign up</button>
        </div>


    </header>

    <!-- this is where we get the input and display the output -->
    <main>
        <form class="form-data" method="post" action="/predict">
            <div class="user">
                <input type="text" class="user-input" name="user-input" placeholder="enter your article">
                <div class="submit">
                    <button class="btn">Enter</button>
                </div>
            </div>
            <div class="output-display">
                <!-- here the type of the article has to be displayed based on the users article-->
                <p class="output">Classified type based on the input</p>
            </div>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>